<?xml version="1.0" encoding="utf-8"?>

<!-- Settings -->
<!-- Author: Henno -->
<!-- DateCreated: 2025-06-15 14:33:18 -->

<GameData>

    <Parameters>
        <Row ConfigurationGroup="Game" ConfigurationId="CSC_HEADER_INTERNAL" DefaultValue="1" Description="LOC_CSC_HEADER_INTERNAL_DESCRIPTION" Domain="bool" GroupId="AdvancedOptions" Hash="0" Name="LOC_CSC_HEADER_INTERNAL_NAME" ParameterId="CSCHeader" ReadOnly="1" SortIndex="300"/>

            <Row ConfigurationGroup="Game" ConfigurationId="CSC_MC_REMOVE_BONUSES" DefaultValue="1" Description="LOC_CSC_MC_REMOVE_BONUSES_DESCRIPTION" Domain="bool" GroupId="AdvancedOptions" Hash="0" Name="LOC_CSC_MC_REMOVE_BONUSES_NAME" ParameterId="CSC_MC_Remove_Bonuses" SortIndex="301"/>
            <Row ConfigurationGroup="Game" ConfigurationId="CSC_INCLUDE_ANIMAL_RESOURCES" DefaultValue="0" Description="LOC_CSC_INCLUDE_ANIMAL_RESOURCES_DESCRIPTION" Domain="bool" GroupId="AdvancedOptions" Hash="0" Name="LOC_CSC_INCLUDE_ANIMAL_RESOURCES_NAME" ParameterId="CSC_Exclude_Animal_Resources" SortIndex="303"/>
            <Row ConfigurationGroup="Game" ConfigurationId="CSC_REMOVE_UNUSED_MODDED_RESOURCES" DefaultValue="1" Description="LOC_CSC_REMOVE_UNUSED_MODDED_RESOURCES_DESCRIPTION" Domain="bool" GroupId="AdvancedOptions" Hash="0" Name="LOC_CSC_REMOVE_UNUSED_MODDED_RESOURCES_NAME" ParameterId="CSC_Remove_Unused_Modded_Resources" SortIndex="304"/>
            <Row ConfigurationGroup="Game" ConfigurationId="CSC_SUPPRESS_SUPPLY_CHAIN_NOTIFICATIONS" DefaultValue="0" Description="LOC_CSC_SUPPRESS_SUPPLY_CHAIN_NOTIFICATIONS_DESCRIPTION" Domain="bool" GroupId="AdvancedOptions" Hash="0" Name="LOC_CSC_SUPPRESS_SUPPLY_CHAIN_NOTIFICATIONS_NAME" ParameterId="CSC_Suppress_Supply_Chain_Notifications" SortIndex="305"/>

        <Row ConfigurationGroup="Game" ConfigurationId="CSC_FOOTER_INTERNAL" DefaultValue="1" Description="LOC_CSC_FOOTER_INTERNAL_DESCRIPTION" Domain="bool" GroupId="AdvancedOptions" Hash="0" Name="LOC_CSC_FOOTER_INTERNAL_NAME" ParameterId="CSCFooter" ReadOnly="1" SortIndex="309"/>
    </Parameters>

    <ParameterDependencies>
            <Row ParameterId="CSC_MC_Remove_Bonuses" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_MONOPOLIES" Operator="Equals" ConfigurationValue="1"/>
    </ParameterDependencies>
    
    <ParameterCriteria>
            <Row ParameterId="CSC_MC_Remove_Bonuses" ConfigurationGroup="Game" ConfigurationId="GAMEMODE_MONOPOLIES" Operator="Equals" ConfigurationValue="1"/>
    </ParameterCriteria>

</GameData>
